.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  text-align: center;
  color: #fff;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-size: cover;
  background-position: top;
}